data:
  class_path: terratorch.datamodules.GenericNonGeoSegmentationDataModule
  init_args:
    allow_substring_split_file: true
    batch_size: 4
    constant_scale: 1.0
    dataset_bands:
    - 0
    - 1
    - 2
    drop_last: true
    expand_temporal_dimension: false
    ignore_split_file_extensions: true
    img_grep: '*tif*'
    label_grep: '*tif*'
    means:
    - 123.9093071640722
    - 123.9890227665175
    - 115.10178152930658
    no_data_replace: 0.0
    no_label_replace: -1
    num_classes: 2
    num_workers: 2
    output_bands:
    - 0
    - 1
    - 2
    pin_memory: false
    reduce_zero_label: false
    rgb_indices:
    - 0
    - 1
    - 2
    stds:
    - 41.39636610977257
    - 38.10232051141904
    - 38.10214500983553
    test_data_root: /data/geodata-33432b140a5d11f0b5b90a580a8202d8/training_data
    test_label_data_root: /data/geodata-33432b140a5d11f0b5b90a580a8202d8/labels
    test_split: /data/geodata-33432b140a5d11f0b5b90a580a8202d8/split_files/test_data.txt
    test_transform:
    - class_path: albumentations.pytorch.ToTensorV2
      init_args:
        always_apply: true
        p: 1.0
        transpose_mask: false
    train_data_root: /data/geodata-33432b140a5d11f0b5b90a580a8202d8/training_data
    train_label_data_root: /data/geodata-33432b140a5d11f0b5b90a580a8202d8/labels
    train_split: /data/geodata-33432b140a5d11f0b5b90a580a8202d8/split_files/train_data.txt
    val_data_root: /data/geodata-33432b140a5d11f0b5b90a580a8202d8/training_data
    val_label_data_root: /data/geodata-33432b140a5d11f0b5b90a580a8202d8/labels
    val_split: /data/geodata-33432b140a5d11f0b5b90a580a8202d8/split_files/val_data.txt
deploy_config_file: true
model:
  class_path: terratorch.tasks.SemanticSegmentationTask
  init_args:
    freeze_backbone: false
    freeze_decoder: false
    freeze_head: false
    ignore_index: -1
    loss: ce
    lr: 0.001
    model_args:
      backbone: prithvi_eo_v1_100
      backbone_bands:
      - '0'
      - '1'
      - '2'
      backbone_ckpt_path: /terratorch/gfm_models/prithvi_eo_v1_100/Prithvi_EO_V1_100M.pt
      backbone_drop_path: 0.1
      backbone_pretrained: false
      decoder: UNetDecoder
      decoder_channels:
      - 512
      - 256
      - 128
      - 64
      head_dropout: 0.1
      necks:
      - indices:
        - 2
        - 5
        - 8
        - 11
        name: SelectIndices
      - name: ReshapeTokensToImage
      - name: LearnedInterpolateToPyramidal
      num_classes: 2
    model_factory: EncoderDecoderFactory
    output_most_probable: true
    output_on_inference: prediction
    plot_on_val: 2
    tiled_inference_on_testing: false
    tiled_inference_parameters:
      average_patches: true
      h_crop: 512
      h_stride: 448
      w_crop: 512
      w_stride: 448
out_dtype: int16
seed_everything: 0
trainer:
  accelerator: auto
  accumulate_grad_batches: 1
  barebones: false
  check_val_every_n_epoch: 1
  detect_anomaly: false
  devices: auto
  enable_checkpointing: true
  fast_dev_run: false
  inference_mode: true
  log_every_n_steps: 50
  logger: false
  max_epochs: 2
  max_steps: -1
  num_nodes: 1
  overfit_batches: 0.0
  precision: 16-mixed
  reload_dataloaders_every_n_epochs: 0
  strategy: auto
  sync_batchnorm: false
  use_distributed_sampler: true
